.navbar {
  background-color: var(--light-dark-bg-shade);
  color: var(--light-dark-text);
  z-index: 100;

  .logo-text {
    font-size: calc(var(--font-size-large) * 1.8);
    font-weight: bold;
    color: var(--light-dark-text);

    @media screen and (max-width: 768px) {
      font-size: calc(var(--font-size-large) * 1.5);
    }
  }

  .logo-image {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    border-radius: 50%;

    @media screen and (max-width: 768px) {
      height: 3rem;
      width: 3rem;
    }
  }

  .alt-logo-text {
    font-size: var(--font-size-medium);
    color: var(--light-dark-text-accent);
  }
}