@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-nunito)
}

:root {
  color-scheme: light dark;
  --light-dark-background: light-dark(#FFFFFF, #000000);
  --light-dark-bg-shade: light-dark(#F0F0F0, #1A1A1A);
  --light-dark-bg-accent: light-dark(#E0E0E0, #2A2A2A);

  --light-dark-text: light-dark(#000000, #FFFFFF);
  --light-dark-text-accent: light-dark(#5f5e5e, #ababab);

  --color-blue: #0077cc;
  --color-blue-light: #00aaff;

  --default-padding: 1rem;
  --default-margin: 1rem;
  --default-border-radius: 0.5rem;

  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.2rem;
  --font-size-xlarge: 1.5rem;
}

.react-loading-skeleton {
  --base-color: var(--light-dark-bg-shade) !important;
  --highlight-color: var(--light-dark-bg-accent) !important;
}

.light-theme {
  /* Forces light color-scheme */
  color-scheme: light;
}

.dark-theme {
  /* Forces dark color-scheme */
  color-scheme: dark;
}

.breadcrumbs {
  font-size: var(--font-size-large);
  color: var(--light-dark-text-accent);
  display: flex;
  gap: calc(var(--default-margin) / 2);
  user-select: none;
}

.favourite-btn {
  font-size: var(--font-size-xlarge);
  cursor: pointer;
  transition: color 0.3s;
  color: var(--color-blue-light);

  &:hover {
    color: var(--color-blue);
  }
}

.page-title-text {
  font-size: calc(var(--font-size-xlarge) * 1.5);
  font-weight: bold;
  color: var(--light-dark-text);
}

.page-desc-text {
  font-size: var(--font-size-large);
  color: var(--light-dark-text-accent);
}

.sub-title-text {
  font-size: var(--font-size-xlarge);
  font-weight: bold;
  color: var(--light-dark-text);
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-margin) * 2);
  padding: var(--default-padding) 0;

  .main-grid {
    gap: calc(var(--default-margin) * 2);
  }
}

.error-container {
  display: flex;
  height: 75vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--default-margin);
  text-align: center;

  .error-text {
    font-size: var(--font-size-large);
    color: var(--light-dark-text);
  }
}

.footer {
  background-color: var(--light-dark-bg-shade);
  color: var(--light-dark-text-accent);
}

.landing-header {
  padding-top: calc(var(--default-padding) * 3);
  padding-bottom: calc(var(--default-padding) * 2);
  text-align: center;

  h1 {
    font-size: calc(var(--font-size-xlarge) * 2);
    font-weight: bold;
    margin-bottom: calc(var(--default-margin) / 2);
  }

  p {
    /* text-lg md:text-xl max-w-2xl mx-auto */
    font-size: var(--font-size-xlarge);
    color: var(--light-dark-text-accent);
  }
}